<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Phishing URL Detector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>🔒 AI Phishing URL Detector</h1>

        <form method="POST">

            <input
                type="text"
                name="url"
                placeholder="Paste URL here..."
                required>

            <br><br>

            <button type="submit">
                Analyze URL
            </button>

        </form>

        {% if result %}

        <div class="result-box">

            <h2 style="color: {{ color }};">
                {{ result }}
            </h2>

            <h3>
                Risk Score: {{ score }}%
            </h3>

            <h3>Analysis</h3>

            {% if reasons %}

            <ul>

                {% for reason in reasons %}

                <li>{{ reason }}</li>

                {% endfor %}

            </ul>

            {% else %}

            <p>No suspicious indicators detected.</p>

            {% endif %}

        </div>

        {% endif %}

    </div>
    
</body>
</html>